<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="utf-8">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<title>All Users</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
<link rel="stylesheet"
	href="https://use.fontawesome.com/releases/v5.4.1/css/all.css">
<link rel="stylesheet" type="text/css" href="/css/style.css" />
</head>

<body>
	<div class="container my-2">
		<div class="card">
			<div class="card-body">
				<div th:switch="${users}" class="container my-5">
					<div class="card bg-primary">
						<div class="card-body text-center ">
							<h6 class="card-text text-white">User Management System - V1</h6>
						</div>
					</div>
					<br>
					<div>
						<a href="/api/user/add" class="btn btn-success"> <i
							class="fas fa-user-plus ml-2"> Add User </i>
						</a> <a href="/api/user/deleteall" class="btn btn-danger"> <i
							class="fas fa-user-alt-slash ml-2"></i> <i
							class="fas fa-user-alt-slash ml-2"></i> <i
							class="fas fa-user-alt-slash ml-2"> Delete All Users </i>
						</a>
					</div>
					<br>
					<div class="col-md-10">
						<h2 th:case="null">No record found !!</h2>
						<div th:case="*">
							<table
								class="table table-striped table-responsive-md table-bordered">
								<thead>
									<tr>
										<th>Id</th>
										<th>First Name</th>
										<th>Last Name</th>
										<th>Email</th>
										<th>Update</th>
										<th>Delete</th>
									</tr>
								</thead>
								<tbody>
									<tr th:each="user : ${users}">
										<td th:text="${user.id}"></td>
										<td th:text="${user.firstname}"></td>
										<td th:text="${user.lastname}"></td>
										<td th:text="${user.email}"></td>
										<td><a th:href="@{/api/user/update/{id}(id=${user.id})}"
											class="btn btn-info"> <i class="fas fa-user-edit ml-2"></i>
										</a></td>
										<td><a th:href="@{/api/user/delete/{id}(id=${user.id})}"
											class="btn btn-danger"> <i
												class="fas fa-user-alt-slash ml-2"></i>
										</a></td>
									</tr>
								</tbody>
							</table>
						</div>

					</div>
				</div>
			</div>
		</div>
	</div>
</body>

</html>